@for $i from 1 through 10{
    .column-#{$i}{
        width: $i * 1%;
    }
}
/**/

@for $i from 1 through 20{
    .column-#{$i * 5}{
        width: $i * 5%;
    }
}
/**********solo pares***********/

@for $i from 1 through 20{
    @if $i % 2 == 0{
    .column-#{$i * 5}{
        width: $i * 5%;
    }
}
}
/*****each con listas****/
$colors-each: red green blue;

@each $color in $colors-each{
    .button-#{$color}{
        background: $color;
    }
}
/*each con mapas*/
$colors-map:(
    primary:yellow,
    secondary: blue,
    third: orange
);
@each $key , $value in $colors-map{
.button-#{$key}{
    background: $value;
}
}